<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ChapeauDatabase" 
			 connectionString="Data Source=chapeaurestaurant.database.windows.net;
			 Initial Catalog=chapeau; 
			 User=muffinmonkey; 
			 Password=Admin1234"/>
	</connectionStrings>
</configuration>